.footer {
  min-height: 10rem;
  background-color: $color-grey-dark;
  padding: 3rem;
  color: $color-grey-light;

  @include flex-center;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__contact-side {
    width: 50%;
    padding-right: 3rem;
    border-right: 0.25rem solid $color-secondary-dark;

    @include respond(tab-port) {
      border-right: none;
      padding: 0 0 3rem;
      border-bottom: 0.25rem solid $color-secondary-dark;
      width: 100%;
    }
  }

  &__references-side {
    width: 50%;
    padding-left: 3rem;

    @include respond(tab-port) {
      padding: 3rem 0 0;
      width: 100%;
    }
  }

  &__actions {
    @include footer-list;
  }

  &__action {
    @include footer-button;
  }

  &__links {
    @include footer-list;
  }

  &__link {
    @include footer-button;
    text-decoration: none;
    &:link,
    &:visited {
      color: #000;
    }
    &:hover {
      color: $color-secondary-dark;
    }
    &:active {
      color: $color-secondary;
    }
  }

  &__logo {
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
  }
}

.copy-btn {
  position: relative;

  &::after {
    content: "E-mailadres gekopieerd!";
    position: absolute;
    background-color: $color-secondary-dark;
    color: #000;
    left: 100%;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in;
  }
}

.copy-btn.copied {
  &::after {
    opacity: 1;
    visibility: visible;
  }
}
