body {
}

.main {
  display: flex;
  flex-direction: column;
}

.section-intro {
  min-height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-dark,
    $color-primary
  );
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

  @include flex-center;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  min-height: 10rem;
  background-color: $color-dark-grey;
}
