body {
  background-color: $color-blue-light;
}

.main {
  display: flex;
  flex-direction: column;
}

.section-intro {
  min-height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-dark,
    $color-primary
  );
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

  @include flex-center;
  flex-direction: column;
  flex-grow: 1;
}

.section-work {
  padding: 10rem 0;
  width: 90%;
  margin: 0 auto;
}

.cards {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.separator {
  height: 20rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-primary-dark
  );
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 60%);
}
