body {
  font-family: "Montserrat", "Arial";
}

::selection {
  background-color: $color-primary-dark;
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
}

a {
  &:link,
  &:visited {
    color: inherit;
  }
}

.highlight {
  font-weight: 700;
}
